<div class="card card-aberta">
    <div class="card-title">
        <span>ABERTAS</span>
    </div>
    <div class="card-body">
        <div class="lista-aberta">
            <div class="os lista-title">
                <span>OS</span>
            </div>
            <div class="cliente lista-title">
                <span>CLIENTE</span>
            </div>
            <div class="solicitante lista-title">
                <span>SOLICITANTE</span>
            </div>
            <div class="obra lista-title">
                <span>OBRA</span>
            </div>
            <div class="botoes">
            </div>
        </div>
        {% for servico in aberta %}
        <div class="lista-finalizadas">
            <div class="os">
                <span>{{ servico.idservico }}</span>
            </div>
            <div class="cliente">
                <span>{{ servico.cliente }}</span>
            </div>
            <div class="solicitante">
                <span>{{ servico.solicitante }}</span>
            </div>
            <div class="obra">
                <span>{{ servico.obra }}</span>
            </div>
            <div class="botoes">
                <a class="bi bi-printer i-button" href={% url 'print_servico' servico.idservico %} target="_blank"></a>
            </div>
        </div>
        {% endfor %}
    </div>
    <div class="card-footer">
    </div>
</div>