<!DOCTYPE html>
{% load static %}
<html lang="br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
    <link rel="stylesheet" href="{% static 'core/css/style.css' %}">
    <title>Document</title>
</head>
<body>
    <div class="menu">
        <i class="bi bi-three-dots-vertical" id="menu-dots"></i>
        <nav class="menu-nav-icons">
            <a href=""><i class="bi bi-house-fill i-button"><span>DASHBOARD</span></i></a>
            <a href=""><i class="bi bi-house-fill i-button"><span>ORDEM SERVIÇO</span></i></a>
            <a href=""><i class="bi bi-clipboard i-button"><span>FATURAMENTO</span></i></a>
            <a href=""><i class="bi bi-clipboard2-check-fill i-button"><span>CADASTRO</span></i></a>
            <a href=""><i class="bi bi-award-fill i-button"><span>PRODUTOS</span></i></a>
            <a href=""><i class="bi bi-award-fill i-button"><span>TABELAS</span></i></a>
            <a href=""><i class="bi bi-geo-alt-fill i-button"><span>PARAMETROS</span></i></a>
            <a href="{% url 'index_core' %}"><i class="bi bi-lock-fill i-button"><span>SAIR</span></i></a>
        </nav>
    </div>
    <div class="container">

    </div>
</body>
</html>