:root {
    --cor_um: #353535; /* cor cards titles */
    --cor_dois: #454545; /* cor background */
    --cor_tres: #656565; /* cor cards */
    --cor_quatro: gold; /* cor button */
    --cor_cinco: dodgerblue; /* cor button hover */
    --cor_seis: white; /* texts */
    --cor_sete: black;
}

/* Reset css default */
* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

body {
    background-color: var(--cor_dois);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

    .content {
        flex: 1 0 auto;
    }

    #menu-dots {
        display: none;
    }

    .menu {
        background-color: var(--cor_dois);
        position: fixed;
        top: 0;
        width: 100%;
        z-index: 9000;
    }

    .menu .menu-nav-icons {
        width: 100%;
        font-size: 0;
        text-align: center;
    }

    .menu .menu-nav-icons a {
        background-color: var(--cor_sete);
        display: inline-block;
        font-size: 25px;
        font-weight: bold;
        text-decoration: none;
        border-top: none;
        width: 100px;
        margin: 0 auto;
        padding: 10px 0;
        box-sizing: border-box;
    }

    .menu .menu-nav-icons a span {
        display: block;
        font-size: 12px;
        font-weight: bold;
        line-height: 2;
    }

    .container {
        background-color: var(--cor_dois);
        margin-top: 73px;
        padding: 0;
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        overflow: visible;
    }

    .container section {
        width: 100%;
    }

    .footer {
        background-color: var(--cor_sete);
        width: 100%;
        height: 100px;
        color: var(--cor_seis);
        display: flex;
        justify-content: center;
        align-items: center;
        flex-shrink: 0;
    }

.i-button {
    color: var(--cor_quatro);
}

.i-button:hover {
    color: var(--cor_cinco);
    cursor: pointer;
}

.card {
    color: var(--cor_seis);
    margin: 10px;
    border-radius: 25px;
}

    .card-title {
        background-color: var(--cor_sete);
        color: var(--cor_seis);
        width: 100%;
        height: 40px;
        border-radius: 25px 25px 0 0;
        font-size: large;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .card-body {
        background-color: var(--cor_um);
        width: 100%;
        padding: 5px 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
    }

    .card-footer {
        background-color: var(--cor_sete);
        color: var(--cor_seis);
        width: 100%;
        height: 30px;
        border-radius: 0 0 25px 25px;
    }

/* Módulo Tabelas */
.main-tabela {
    width: 100%;
    display: flex;
    flex-direction: row;
}

    .tabela-propria {
        width: 30%;
    }

    .tabela-selecionada {
        width: 70%;
    }

.tp-lista-cliente {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.tp-lista-cliente i {
    padding: 0 10px;
}

.tc-lista-produtos {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid black;
}

.tc-lista-produtos:hover {
    color: var(--cor_cinco)
}

.p-codigo {
    width: 10%;
    text-align: center;
}

.p-descricao {
    width: 45%;
    padding-left: 5px;
}

.p-categoria {
    width: 30%;
    padding-left: 5px;
}

.p-valor {
    width: 10%;
    text-align: right;
    padding-right: 5px;
}

.p-button {
    width: 5%;
    text-align: center;
}


/* MODAL START */
.modal {
    z-index: 10000;
    align-items: center;
    justify-content: center;
}

.modal-dialog {
    width: 800px;
}

@media (max-width: 800px) {
    .modal-dialog {
        width: 340px;
    }
}

.modal-header {
    background-color: var(--corterciaria);
    color: white;
    text-align: center;
}

.modal label {
    color: var(--corprimaria);
    padding-top: 10px;
}

.modal input {
    background-color: snow;
    color: var(--corprimaria);
    padding: 10px;
}

.modal-footer {
    background-color: var(--cor_quatro);
}
/* MODAL END */
