<form class="row g-3" method="post" action="{{ v_url }}" id="{{ v_idobj }}">
    {% csrf_token %}
    {% if v_view == 'altera_valor_produto' %}
    <div class="col-md-12">
        <label>DESCRIÇÃO: {{ v_descricao }}</label>
    </div>
    <div class="col-md-12">
        <label for="id_valor" class="form-label">ENTRE COM O NOVO VALOR</label>
        {{ form.valor }}
        {{ form.valor.errors }}
    </div>
    <input type="hidden" name="tipotb" value="{{ tipotb }}">
    <input type="hidden" name="idproduto" value="{{ v_idobj }}">
    {% endif %}
    {% if v_view == 'delete_tabela_item' %}
    <div class="col-md-12">
        <span>Confirma a exlusão do item abaixo?</span>
    </div>
    <div class="col-md-12">
        <span>Cliente: {{ v_apelido.apelido }}</span>
    </div>
    <div class="col-md-12">
        <span>Produto: {{ v_produto.descricao }}</span>
    </div>
    <input type="hidden" name="idtabela" value="{{ v_idobj }}">
    {% endif %}
    {% if v_view == 'nova_tabela_propria' %}
    <div class="col-md-12">
        <label for='id_idpessoa' class="form-label">Selecione um cliente</label>
        <select class="form-control" class="id_idpessoa" name="cliente">
        {% for clientes in clientes_no_tabela %}
        <option value="{{ clientes.idpessoa }}">{{ clientes.apelido }}</option>
        {% endfor %}
        </select>
    </div>
    {% endif %}
</form>