{% extends 'core/base_restrito.html' %}
{% load static %}

{% block main %}
<main class="main_tabela">
    <div class="card tabela-propria">
        <div class="card-title tp_titulo">
            <span>TABELA PRÓPRIA</span>
        </div>
        <div class="card-body">
            {% for clientes in clientes_tabela %}
            <div class="tp-lista-cliente">
                <i class="bi bi-building i-button"> <span>{{ clientes.apelido }}</span></i>
                <i class="bi bi-trash i-button tp-delete" data-idcadastro="{{ clientes.idcadastro }}"></i>
            </div>
            {% endfor %}
        </div>
        <div class="card-footer"></div>
    </div>
</main>
{% endblock %}
{% block script %}
    <script src="{% static 'core/js/tabelas.js' %}"></script>
{% endblock %}