<div class="card-title tp_titulo">
    <span>TABELA PRÓPRIA</span>
</div>
<div class="card-body">
    {% for clientes in clientes_tabela %}
    <div class="tp-lista-cliente">
        <i class="bi bi-building i-button tp-select" data-idobj="{{ clientes.idcadastro }}">
            <span>{{ clientes.apelido }}</span></i>
        <i class="bi bi-trash i-button tp-delete" data-idobj="{{ clientes.idcadastro }}"></i>
    </div>
    {% endfor %}
</div>
<div class="card-footer">
    {% if clientes_tabela %}
        {% if clientes_tabela|length > 0 %}
            {% if clientes_tabela|length == 1 %}
                <span>{{ clientes_tabela|length }} CLIENTE POSSUI TABELA PRÓPRIA</span>
                {% else %}
                <span>{{ clientes_tabela|length }} CLIENTES POSSUEM TABELA PRÓPRIA</span>
            {% endif %}
        {% endif %}
    {% else %}
        <span>NENHUM CLIENTE POSSUI TABELA PRÓPRIA</span>
    {% endif %}
</div>