<div class="card-title tp_titulo">
    {% if tipotb == 'PRODUTO' %}
    <span>TABELA - COMUNIQG</span>
    {% else %}
    <span>TABELA - {{ apelido.apelido }} </span>
    {% endif %}
</div>
<div class="card-body">
    {% for produtos in produtos_tabela %}
    <div class="tc-lista-produtos">
        <div class="tc-produtos p-codigo"> <span>{{ produtos.codigo }}</span></div>
        <div class="tc-produtos p-descricao"> <span>{{ produtos.descricao }}</span></div>
        <div class="tc-produtos p-categoria"> <span>{{ produtos.categoria }}</span></div>
        <div class="tc-produtos p-valor"> <span>R$ {{ produtos.valor }}</span></div>
        {% if tipotb == 'PRODUTO' %}
        <div class="tc-produtos p-button">
            <i class="bi bi-pencil-square i-button" onclick="openMyModal(event); return false;"
                data-title="ALTERAR VALOR PRODUTO" data-action="{% url 'altera_valor_produto' %}"
                data-button-save-label="EDITAR" data-idobj="{{ produtos.idproduto }}" data-tipo-tb="PRODUTO"></i>
        </div>
        {% else %}
        <div class="tc-produtos p-button">
            <i class="bi bi-pencil-square i-button" onclick="openMyModal(event); return false;" data-title="ALTERAR VALOR DO PRODUTO" data-action="{% url 'altera_valor_produto' %}" data-button-save-label="EDITAR" data-idobj="{{ produtos.idtabela }}" data-tipo-tb="{{ apelido.idcadastro}}" data-loader="AGUARDE ALTERANDO VALOR DO PRODUTO..."></i>
            <i class="bi bi-trash i-button" onclick="openMyModal(event); return false;" data-title="EXCLUIR ITEM DA TABELA" data-action="{% url 'delete_tabela_item' %}" data-button-save-label="EXCLUIR" data-idobj="{{ produtos.idtabela }}" data-loader="AGUARDE EXCLUINDO ITEM DA TABELA..."></i>
        </div>
        {% endif %}
    </div>
    {% endfor %}
</div>
<div class="card-footer">
    {% if produtos_tabela %}
        {% if produtos_tabela|length > 0 %}
            {% if produtos_tabela|length == 1 %}
                <span>ESSA TABELA POSSUI {{ produtos_tabela|length }} PRODUTO</span>
            {% else %}
                <span>ESSA TABELA POSSUI {{ produtos_tabela|length }} PRODUTOS</span>
            {% endif %}
        {% endif %}
    {% endif %}
</div>