{% if quantidade > 0 %}
{% load humanize %}
<!-- Header -->
<div class="card-header">
    <span>{{ apelido }}</span>
</div>
<!-- Body -->
<div class="card-body js-card-body re-faturas">
    {% for fatura in faturas %}
    <div class="lista-selecionadas">
        <div class="fatura">
            <span>{{ fatura.idfatura }}</span>
        </div>
        <div class="valor-fatura">
            <span>R$ {{ fatura.valorfatura|intcomma }}</span>
        </div>
        <div class="valor-pago">
            <span>R$ {{ fatura.valorpago|intcomma }}</span>
        </div>
        <div class="botoes">
            <a class="bi bi-printer i-button" href={% url 'print_fatura' fatura.idfatura %} target="_blank"></a>
            <i class="bi bi-clipboard i-button js-servico-fatura" data-idobj="{{ fatura.idfatura }}"></i>
        </div>
    </div>
    {% endfor %}
</div>
<!-- Footer -->
<div class="card-footer">
    <span>{{ quantidade }} FATURA{{ quantidade|pluralize|upper }} - R$ {{ total_receber|intcomma }}</span>
</div>
{% endif %}
