{% load humanize %}
<div class="card-title">
    <span>DIA</span>
</div>
<div class="card-body js-card-body">
    {% for pgto in pagamentos %}
    <div class="lista-pgto-dia">
        <div class="item-apelido">
            <span>{{ pgto.cliente }}</span>
        </div>
        <div class="item-fatura">
            <span>{{ pgto.fatura }}</span>
        </div>
        <div class="item-valor">
            <span>R$ {{ pgto.total|intcomma }}</span>
        </div>
        <div class="item-botao">
            <i class="bi bi-clipboard i-button js-seleciona-data"
            data-dia={{ diapgto.dia|date:'d/m/Y' }}></i>
        </div>
    </div>
    {% endfor %}
</div>
<div class="card-footer">
    <span></span>
</div>