{% load humanize %}
<!-- Header -->
<div class="card-header">
	<div class="input-group">
		<div class="input-group-addon addon-my-color">
    	    <i class="icofont-simple-left-up i-button-null" title=""></i>
		</div>
		<div class="div-form-control">
            <span id="id_pgto" data-dia="{{ dia }}">{{ dia }}</span>
		</div>
		<div class="input-group-addon addon-my-color">
    	    <i class="icofont-simple-right-up i-button-null" title=""></i>
		</div>
	</div>
</div>
<!-- Body -->
<div class="card-body">
    {% for pgto in pagamentos %}
	<div class="card-body-item">
		<div class="input-group">
			<div class="input-group-addon addon-my-color">
				<i class="icofont-check i-button-null" title=""></i>
			</div>
			<div class="div-flex div-form-control">
				<div class="tamanho-50 text-left">
                    <span>{{ pgto.cliente }}</span>
				</div>
				<div class="tamanho-25 text-center">
                    <span>{{ pgto.fatura }}</span>
				</div>
	    		<div class="tamanho-25 text-right">
                    <span>R$ {{ pgto.total|intcomma }}</span>
				</div>
			</div>
			<div class="input-group-addon addon-my-color">
				<i class="icofont-check i-button-null" title=""></i>
			</div>
		</div>
	</div>
	{% endfor %}
</div>
<!-- Footer -->
<div class="card-footer">
	<div class="input-group">
		<div class="input-group-addon addon-my-color">
			<i class="icofont-simple-left-down i-button-null" title=""></i>
		</div>
		<div class="div-flex div-form-control">
			<div class="tamanho-50 text-left">
				<span>TOTAL RECEBIDO NO DIA</span>
			</div>
			<div class="tamanho-50 text-right">
                <span>R$ {{ total_filtro|intcomma }}</span>
			</div>
		</div>
		<div class="input-group-addon addon-my-color">
			<i class="icofont-simple-right-down i-button-null" title=""></i>
		</div>
    </div>
</div>
