{% load humanize %}
<form method="post" action="" class="js-faturar-selecionadas">
{% csrf_token %}
    <div class="card-title">
        <span>SERVICOS FATURAR</span>
    </div>
    <div class="card-body js-card-body re-faturar">
        {% for servico in servicos %}
        <div class="lista-servicos">
            <div class="servico">
                <span>{{ servico.idservico }}</span>
            </div>
            <div class="data-servico">
                <span>{{ servico.diaservico }}</span>
            </div>
            <div class="total-servico">
                <span>R$ {{ servico.total|intcomma }}</span>
            </div>
            <div class="botoes">
                <a class="bi bi-printer i-button"  target="_blank"
                href="{% url 'print_servico' servico.idservico %}"></a>
                <i class="bi bi-square i-button js-servico-faturar"
                data-idobj="{{ servico.idservico }}"></i>
                <input class="check-hidden" type="checkbox" name="selecionadas"
                value="{{ servico.idservico }}:{{ servico.total }}" id="os_{{ servico.idservico }}">
            </div>
        </div>
        {% endfor %}
        <input type="hidden" name="idobj" value="{{ idcliente }}">
    </div>
    <div class="card-footer">
        <span>R$ {{ total_a_faturar|intcomma }}</span>
        <button type="submit" class="bi bi-printer"></button>
    </div>
</form>