{% load humanize %}
<div class="card-title">
    <span>FATURAR</span>
</div>
<div class="card-body js-card-body">
    {% for fatura in faturar %}
    <div class="lista-faturar">
        <div class="cliente">
            <span>{{ fatura.apelido }}</span>
        </div>
        <div class="valor-fatura">
            <span>R$ {{ fatura.valorfatura|intcomma }}</span>
        </div>
        <div class="botoes">
            <i class="bi bi-clipboard i-button js-cliente-faturada"
            data-idobj="{{ fatura.idpessoa }}"></i>
        </div>
    </div>
    {% endfor %}
</div>
<div class="card-footer">
    <span>R$ {{ total_faturar|intcomma }}</span>
</div>