{% load humanize %}
<div class="card-title">
    <span id="id_pgto" data-dia="{{ dia }}">{{ dia }}</span>
</div>
<div class="card-body js-card-body re-pagamentos-dia">
    {% if pagamentos %}
        {% for pgto in pagamentos %}
        <div class="lista-pgto-dia">
            <div class="item-apelido">
                <span>{{ pgto.cliente }}</span>
            </div>
            <div class="item-fatura">
                <span>{{ pgto.fatura }}</span>
            </div>
            <div class="item-valor">
                <span>R$ {{ pgto.total|intcomma }}</span>
            </div>
            <div class="item-botao">
                {% comment %} <i class="bi bi-clipboard i-button js-seleciona-data"
                data-dia={{ diapgto.dia|date:'d/m/Y' }}></i> {% endcomment %}
            </div>
        </div>
        {% endfor %}
    {% else %}
        <div class="lista-pgto-dia">
            <div class="item-titulo">
                <span>R$ 0,00</span>
            </div>
        </div>
    {% endif %}
</div>
<div class="card-footer">
    <span>R$ {{ total_filtro|intcomma }}</span>
</div>