<div class="card-title">
    <span>OBRAS</span>
</div>
<div class="card-body">
    {% for i in obras %}
    <div class="lista-obras">
        <div class="obras">
            {% if i.obra == "" %}
            <span>NÃO INFORMADA</span>
            {% else %}
            <span>{{ i.obra }}</span>
            {% endif %}
        </div>
        <div class="botoes">
            <i class="bi bi-square i-button js-seleciona-obra"
            data-obra-seleciona="{{ i.lower }}"></i>
        </div>
    </div>
    {% endfor %}
</div>
<div class="card-footer">
    <span class="quantidade-obra-selecionada">NENHUMA OBRA SELECIONADA</span>
</div>