{% load humanize %}
<!-- Header -->
<div class="card-header">
	<div class="input-group">
		<div class="input-group-addon addon-my-color">
			<i class="icofont-circled-left i-button js-mes-ano-detalhado"
      data-periodo="-12" data-dia={{ mes|date:'d/m/Y' }} title="Ano Anterior"></i>
		</div>
        <div class="input-group-addon addon-my-color">
			<i class="icofont-arrow-left i-button js-mes-ano-detalhado"
      data-periodo="-1" data-dia={{ mes|date:'d/m/Y' }} title="Mês Anterior"></i>
		</div>
		<div class="div-form-control">
	    	<span>{{ mes|date:'F/Y'|upper }}</span>
		</div>
		<div class="input-group-addon addon-my-color">
			<i class="icofont-arrow-right i-button js-mes-ano-detalhado"
      data-periodo="1" data-dia={{ mes|date:'d/m/Y' }} title="Mês Posterior"></i>
		</div>
        <div class="input-group-addon addon-my-color">
			<i class="icofont-circled-right i-button js-mes-ano-detalhado"
      data-periodo="12" data-dia={{ mes|date:'d/m/Y' }} title="Ano Posterior"></i>
		</div>
	</div>
</div>
<!-- Body -->
<div class="card-body">
    <div class="card-body-item">
		<div class="input-group">
			<div class="input-group-addon addon-my-color">
				<i class="icofont-check i-button-null" title=""></i>
			</div>
			<div class="div-flex div-form-control">
				<div class="tamanho-10 text-center">
                    <span>DATA</span>
				</div>
				<div class="tamanho-15 text-center">
                    <span>DINHEIRO</span>
				</div>
	    		<div class="tamanho-15 text-center">
                    <span>DÉBITO</span>
				</div>
                <div class="tamanho-15 text-center">
                    <span>CRÉDITO</span>
				</div>
                <div class="tamanho-15 text-center">
                    <span>PIX</span>
				</div>
                <div class="tamanho-15 text-center">
                    <span>DEPÓSITO</span>
				</div>
                <div class="tamanho-15 text-center">
                    <span>TOTAL</span>
				</div>
			</div>
			<div class="input-group-addon addon-my-color">
                <i class="icofont-check i-button-null"></i>
			</div>
		</div>
	</div>
    {% for diapgto in mensal %}
    {% if diapgto.total > 0 %}
	<div class="card-body-item">
		<div class="input-group">
			<div class="input-group-addon addon-my-color">
				<i class="icofont-check i-button-null" title=""></i>
			</div>
			<div class="div-flex div-form-control">
				<div class="tamanho-10 text-center">
                    <span data-dia={{ diapgto.dia|date:'d/m/Y' }}>
                        {{ diapgto.dia|date:'d/m/Y' }}
                    </span>
				</div>
				<div class="tamanho-15 text-right">
                    <span>R$ {{ diapgto.dinheiro|intcomma }}</span>
				</div>
	    		<div class="tamanho-15 text-right">
                    <span>R$ {{ diapgto.debito|intcomma }}</span>
				</div>
                <div class="tamanho-15 text-right">
                    <span>R$ {{ diapgto.credito|intcomma }}</span>
				</div>
                <div class="tamanho-15 text-right">
                    <span>R$ 0,00</span>
				</div>
                <div class="tamanho-15 text-right">
                    <span>R$ {{ diapgto.deposito|intcomma }}</span>
				</div>
                <div class="tamanho-15 text-right">
                    <span>R$ {{ diapgto.total|intcomma }}</span>
				</div>
			</div>
			<div class="input-group-addon addon-my-color">
                <i class="icofont-square i-button js-seleciona-data"
                   data-dia={{ diapgto.dia|date:'d/m/Y' }}></i>
			</div>
		</div>
	</div>
    {% endif %}
	{% endfor %}
</div>
<!-- Footer -->
<div class="card-footer">
	<div class="input-group">
		<div class="input-group-addon addon-my-color">
			<i class="icofont-simple-left-down i-button-null" title=""></i>
		</div>
		<div class="div-flex div-form-control">
			<div class="tamanho-10 text-center">
                <span>TOTAIS</span>
			</div>
			<div class="tamanho-15 text-right">
                <span>R$ {{ dinheiro|intcomma }}</span>
			</div>
	    	<div class="tamanho-15 text-right">
                <span>R$ {{ debito|intcomma }}</span>
			</div>
            <div class="tamanho-15 text-right">
                <span>R$ {{ credito|intcomma }}</span>
			</div>
            <div class="tamanho-15 text-right">
				<span>R$ 0,00</span>
			</div>
            <div class="tamanho-15 text-right">
                <span>R$ {{ deposito|intcomma }}</span>
			</div>
			<div class="tamanho-15 text-right">
                <span>R$ {{ total|intcomma }}</span>
			</div>
		</div>
		<div class="input-group-addon addon-my-color">
			<i class="icofont-simple-right-down i-button-null" title=""></i>
		</div>
    </div>
</div>
