{% load humanize %}
<div class="card-title">
    <span>PAGAMENTOS</span>
</div>
<div class="card-body js-card-body re-pagamento">
    <div class="lista-pagamentos">
        <form class="js-paga-fatura" method="post" action="{% url 'paga_fatura' %}">
        {% csrf_token %}
            <div class="item-pagamento dia">
                <span>Data Pagamento:</span>
                <input class="" type="date" value="{{ hoje }}" name='dia'>
            </div>
            <div class="item-pagamento dinheiro">
                <i class="i-button js-bt-dinheiro">Dinheiro</i>
                <input class="js-dinheiro" type="number" step="0.01" value="0.00" name="dinheiro">
            </div>
            <div class="item-pagamento debito">
                <i class="i-button js-bt-debito">Cartão de Débito</i>
                <input class="js-debito" type="number" step="0.01" value="0.00" name="debito">
            </div>
            <div class="item-pagamento credito">
                <i class="i-button js-bt-credito">Cartão de Crédito</i>
                <input class="js-credito" type="number" step="0.01" value="0.00" name="credito">
            </div>
            <div class="item-pagamento pix">
                <i class="i-button js-bt-pix">Pix</i>
                <input class="js-pix" type="number" step="0.01" value="0.00" name="pix" disabled>
            </div>
            <div class="item-pagamento deposito">
                <i class="i-button js-bt-deposito">Depósito</i>
                <input class="js-deposito" type="number" step="0.01" value="0.00" name="deposito">
            </div>
            <div class="item-pagamento desconto">
                <span class="i-button js-bt-desconto">Desconto</span>
                <input class="js-desconto" type="number" step="0.01" value="0.00" name="desconto" disabled>
            </div>
            <div class="item-pagamento saldo">
                <span>A Receber</span>
                <input class="js-receber" type="number" step="0.01"
                value="{{ saldo|stringformat:'.2f' }}" disabled>
            </div>
            <div class="item-pagamento botao">
                <button type="submit" class="bi bi-currency-dollar i-button"></button>
            </div>
            <input class="js-saldo" type="hidden" name="saldo"
            value="{{ saldo|stringformat:'.2f' }}">
            <input type="hidden" name="idfatura" value="{{ fatura }}">
            <input type="hidden" name="idcliente" value="{{ idpessoal }}">
        </form>
    </div>
    {% for pgtos in pagamentos %}
    <div class="lista-pagamentos">
        <div class="item-pagamento dia destaque">
            <span>Data Pagamento:</span>
            <span>{{ pgtos.diapago }}</span>
        </div>
        <div class="item-pagamento dinheiro">
            <span>Dinheiro</span>
            <span>R$ {{ pgtos.dinheiro|intcomma }}</span>
        </div>
        <div class="item-pagamento debito">
            <span>Cartão de Débito</span>
            <span>R$ {{ pgtos.debito|intcomma }}</span>
        </div>
        <div class="item-pagamento credito">
            <span>Cartão de Crédito</span>
            <span>R$ {{ pgtos.credito|intcomma }}</span>
        </div>
        <div class="item-pagamento pix">
            <span>Pix</span>
            <span>R$ 0,00 {{ pgtos.pix|intcomma }}</span>
        </div>
        <div class="item-pagamento deposito">
            <span>Depósito</span>
            <span>R$ {{ pgtos.deposito|intcomma }}</span>
        </div>
        <div class="item-pagamento total destaque">
            <span>Valor Pago</span>
            <span>R$ {{ pgtos.total|intcomma }}</span>
        </div>
    </div>
    {% endfor %}
</div>
<div class="card-footer"></div>