{% extends 'core/base_restrito.html' %}
{% load static %}
{% load humanize %}
{% block main %}
<div class="faturamento">
    <div class="card card-faturadas">
        {% include 'faturamento/html_fatura_agrupada.html' %}
    </div>
    <div class="card card-selecionadas">
    </div>
    <div class="card card-pagamento-fatura">
    </div>
    <div class="card card-faturar">
        {% include 'faturamento/html_aguardando_faturar.html' %}
    </div>
    <div class="card card-servico">
    </div>
    <div class="card card-obras">
    </div>
    <div class="card card-solicitantes">
    </div>
    <div class="card card-mensal">
        {% include 'faturamento/html_recebe_mensal.html' %}
    </div>
    <div class="card card-mensal-detalhado">
    </div>
    <div class="card card-pagamentos-dia">
        {% comment %} {% include 'faturamento/html_pagamentos_dia.html' %} {% endcomment %}
    </div>
</div>
{% endblock %}
{% block script %}
    <script src="{% static 'core/js/faturamento.js' %}"></script>
{% endblock %}