{% load humanize %}
<div class="card-title">
    <span>FATURA {{ fatura }}</span>
</div>
<div class="card-body js-card-body">
    {% for servico in servicos %}
    <div class="lista-servicos">
        <div class="servico">
            <span>{{ servico.idservico }}</span>
        </div>
        <div class="data-servico">
            <span>{{ servico.diaservico }}</span>
        </div>
        <div class="total-servico">
            <span>R$ {{ servico.total|intcomma }}</span>
        </div>
        <div class="botoes">
            <i class="bi bi-printer i-button js-print-fatura" data-idobj="{{ fatura.idfatura }}"></i>
            <i class="bi bi-clipboard i-button js-minuta-fatura" data-idobj="{{ fatura.idfatura }}"></i>
        </div>
    </div>
    {% endfor %}
</div>
<div class="card-footer">
    <span>{{ os }} ORDE{{ os|pluralize:"m,ns"|upper }} DE SERVIÇO</span>
</div>